## Exercise 1 - Simple rules

First name: Brian
<br>
Last name: Schweigler
<br>
Matriculation number: 16-102-071

##### In the folder \Data" you have access to the dataset Titanic.csv presenting information about travellers with their status (survived=1 (yes) or =0 (no)). In addition, you have the information about the class (Pclass), name (Name), gender (Sex), age (Age), sibling or spouse on board (1/0), parents or children aboard (1/0), and fare price (Fare).

#### (a) What is the best default rule for this dataset? (Default means without any evidence about the person)?

In general, "choose most frequent to be the default rule".
Very likely, without prior information, we can assume that due to "mothers and children first" when the titanic sank,
that those are most likely to have survived, thus gender (Sex) and parents or chlidren on board (1/0).

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
import scipy
from mlxtend.classifier import OneRClassifier
from mlxtend.evaluate import accuracy_score

clf = GaussianNB()
le = preprocessing.LabelEncoder()
df = pd.read_csv("data/titanic.csv", index_col='Name')
pd.set_option('display.max_colwidth', None)
print(df.head(20))
df.describe(include='all')

                                                        Survived  Pclass  \
Name
Mr. Owen Harris Braund                                         0       3
Mrs. John Bradley (Florence Briggs Thayer) Cumings             1       1
Miss. Laina Heikkinen                                          1       3
Mrs. Jacques Heath (Lily May Peel) Futrelle                    1       1
Mr. William Henry Allen                                        0       3
Mr. James Moran                                                0       3
Mr. Timothy J McCarthy                                         0       1
Master. Gosta Leonard Palsson                                  0       3
Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson               1       3
Mrs. Nicholas (Adele Achem) Nasser                             1       2
Miss. Marguerite Rut Sandstrom                                 1       3
Miss. Elizabeth Bonnell                                        1       1
Mr. William Henry Saundercock                                  0       3
Mr. Anders Johan Andersson                                     0       3
Miss. Hulda Amanda Adolfina Vestrom                            0       3
Mrs. (Mary D Kingcome) Hewlett                                 1       2
Master. Eugene Rice                                            0       3
Mr. Charles Eugene Williams                                    1       2
Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke         0       3
Mrs. Fatima Masselmani                                         1       3

                                                           Sex   Age  \
Name
Mr. Owen Harris Braund                                    male  22.0
Mrs. John Bradley (Florence Briggs Thayer) Cumings      female  38.0
Miss. Laina Heikkinen                                   female  26.0
Mrs. Jacques Heath (Lily May Peel) Futrelle             female  35.0
Mr. William Henry Allen                                   male  35.0
Mr. James Moran                                           male  27.0
Mr. Timothy J McCarthy                                    male  54.0
Master. Gosta Leonard Palsson                             male   2.0
Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson        female  27.0
Mrs. Nicholas (Adele Achem) Nasser                      female  14.0
Miss. Marguerite Rut Sandstrom                          female   4.0
Miss. Elizabeth Bonnell                                 female  58.0
Mr. William Henry Saundercock                             male  20.0
Mr. Anders Johan Andersson                                male  39.0
Miss. Hulda Amanda Adolfina Vestrom                     female  14.0
Mrs. (Mary D Kingcome) Hewlett                          female  55.0
Master. Eugene Rice                                       male   2.0
Mr. Charles Eugene Williams                               male  23.0
Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke  female  31.0
Mrs. Fatima Masselmani                                  female  22.0

                                                        Siblings/Spouses Aboard  \
Name
Mr. Owen Harris Braund                                                        1
Mrs. John Bradley (Florence Briggs Thayer) Cumings                            1
Miss. Laina Heikkinen                                                         0
Mrs. Jacques Heath (Lily May Peel) Futrelle                                   1
Mr. William Henry Allen                                                       0
Mr. James Moran                                                               0
Mr. Timothy J McCarthy                                                        0
Master. Gosta Leonard Palsson                                                 3
Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson                              0
Mrs. Nicholas (Adele Achem) Nasser                                            1
Miss. Marguerite Rut Sandstrom                                                1
Miss. Elizabeth Bonnell                                                       0
Mr. William Henry Saundercock                                                 0
Mr. Anders Johan Andersson                                                    1
Miss. Hulda Amanda Adolfina Vestrom                                           0
Mrs. (Mary D Kingcome) Hewlett                                                0
Master. Eugene Rice                                                           4
Mr. Charles Eugene Williams                                                   0
Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke                        1
Mrs. Fatima Masselmani                                                        0

                                                        Parents/Children Aboard  \
Name
Mr. Owen Harris Braund                                                        0
Mrs. John Bradley (Florence Briggs Thayer) Cumings                            0
Miss. Laina Heikkinen                                                         0
Mrs. Jacques Heath (Lily May Peel) Futrelle                                   0
Mr. William Henry Allen                                                       0
Mr. James Moran                                                               0
Mr. Timothy J McCarthy                                                        0
Master. Gosta Leonard Palsson                                                 1
Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson                              2
Mrs. Nicholas (Adele Achem) Nasser                                            0
Miss. Marguerite Rut Sandstrom                                                1
Miss. Elizabeth Bonnell                                                       0
Mr. William Henry Saundercock                                                 0
Mr. Anders Johan Andersson                                                    5
Miss. Hulda Amanda Adolfina Vestrom                                           0
Mrs. (Mary D Kingcome) Hewlett                                                0
Master. Eugene Rice                                                           1
Mr. Charles Eugene Williams                                                   0
Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke                        0
Mrs. Fatima Masselmani                                                        0

                                                           Fare
Name
Mr. Owen Harris Braund                                   7.2500
Mrs. John Bradley (Florence Briggs Thayer) Cumings      71.2833
Miss. Laina Heikkinen                                    7.9250
Mrs. Jacques Heath (Lily May Peel) Futrelle             53.1000
Mr. William Henry Allen                                  8.0500
Mr. James Moran                                          8.4583
Mr. Timothy J McCarthy                                  51.8625
Master. Gosta Leonard Palsson                           21.0750
Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson        11.1333
Mrs. Nicholas (Adele Achem) Nasser                      30.0708
Miss. Marguerite Rut Sandstrom                          16.7000
Miss. Elizabeth Bonnell                                 26.5500
Mr. William Henry Saundercock                            8.0500
Mr. Anders Johan Andersson                              31.2750
Miss. Hulda Amanda Adolfina Vestrom                      7.8542
Mrs. (Mary D Kingcome) Hewlett                          16.0000
Master. Eugene Rice                                     29.1250
Mr. Charles Eugene Williams                             13.0000
Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke  18.0000
Mrs. Fatima Masselmani                                   7.2250

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887,887.000000,887.000000,887.000000,887.00000
unique,NaN,NaN,2,NaN,NaN,NaN,NaN
top,NaN,NaN,male,NaN,NaN,NaN,NaN
freq,NaN,NaN,573,NaN,NaN,NaN,NaN
mean,0.385569,2.305524,NaN,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,NaN,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,NaN,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.32920

In [8]:
X_d = df["Sex", "Siblings/Spouses Aboard"]
y = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train, Xd_test, y_train, y_test = train_test_split(X_d, y, test_size=0.3)
oner = OneRClassifier()
oner.fit(Xd_train.to_numpy(), y_train)
y_pred = oner.predict(Xd_test.to_numpy())

accuracy = accuracy_score(y_test, y_pred)

# print(Xd_train)
# print("y_train = ", y_train)
print(accuracy)

KeyError: ('Sex', 'Siblings/Spouses Aboard')

Can you produce a second rule based on a single attribute with a good effectiveness?

In [31]:
X_d_fare = df[["Fare"]]
y_fare = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_fare, Xd_test_fare, y_train_fare, y_test_fare = train_test_split(X_d_fare, y_fare, test_size=0.3)
oner_fare = OneRClassifier()
oner_fare.fit(Xd_train_fare.to_numpy(), y_train_fare)
y_pred_fare = oner_fare.predict(Xd_test_fare.to_numpy())
accuracy_fare = accuracy_score(y_test_fare, y_pred_fare)

print("Fare Accuracy: ", accuracy_fare)

X_d_pclass = df[["Pclass"]]
y_pclass = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_pclass, Xd_test_pclass, y_train_pclass, y_test_pclass = train_test_split(X_d_pclass, y_pclass, test_size=0.3)
oner_pclass = OneRClassifier()
oner_pclass.fit(Xd_train_pclass.to_numpy(), y_train_pclass)
y_pred_pclass = oner_pclass.predict(Xd_test_pclass.to_numpy())

accuracy_pclass = accuracy_score(y_test_pclass, y_pred_pclass)

print("Pclass Accuracy: ", accuracy_pclass)

X_d_age = df[["Age"]]
y_age = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_age, Xd_test_age, y_train_age, y_test_age = train_test_split(X_d_age, y_age, test_size=0.3)
oner_age = OneRClassifier()
oner_age.fit(Xd_train_age.to_numpy(), y_train_age)
y_pred_age = oner_age.predict(Xd_test_age.to_numpy())

accuracy_age = accuracy_score(y_test_age, y_pred_age)

print("Age accuracy: ", accuracy_age)

X_d_sib = df[["Siblings/Spouses Aboard"]]
y_sib = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_sib, Xd_test_sib, y_train_sib, y_test_sib = train_test_split(X_d_sib, y_sib, test_size=0.3)
oner_sib = OneRClassifier()
oner_sib.fit(Xd_train_sib.to_numpy(), y_train_sib)
y_pred_sib = oner_sib.predict(Xd_test_sib.to_numpy())

accuracy_sib = accuracy_score(y_test_sib, y_pred_sib)

print("Sibling/Spouse accuracy: ", accuracy_sib)

X_d_fam = df[["Parents/Children Aboard"]]
y_fam = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_fam, Xd_test_fam, y_train_fam, y_test_fam = train_test_split(X_d_fam, y_fam, test_size=0.3)
oner_fam = OneRClassifier()
oner_fam.fit(Xd_train_fam.to_numpy(), y_train_fam)
y_pred_fam = oner_fam.predict(Xd_test_fam.to_numpy())

accuracy_fam = accuracy_score(y_test_fam, y_pred_fam)

print("Parents/Children accuracy: ", accuracy_fam)

X_d_sex = df[["Sex"]]
y_sex = df["Survived"]
# y = le.transform(df["Survived"])
Xd_train_sex, Xd_test_sex, y_train_sex, y_test_sex = train_test_split(X_d_sex, y_sex, test_size=0.3)
oner_sex = OneRClassifier()
oner_sex.fit(Xd_train_sex.to_numpy(), y_train_sex)
y_pred_sex = oner_sex.predict(Xd_test_sex.to_numpy())

accuracy_sex = accuracy_score(y_test_sex, y_pred_sex)

print("Accuracy using outdated binary gender: ", accuracy_sex)

Fare Accuracy:  0.7303370786516854
Pclass Accuracy:  0.6891385767790262
Age accuracy:  0.5730337078651685
Sibling/Spouse accuracy:  0.6441947565543071
Parents/Children accuracy:  0.6404494382022472
Outdated binary gender accuracy:  0.7752808988764045

Thus, we can conclude that using only the binary gender produces useful results.